
body{
  background-color: #c6c9d8;
  text-align: center;
}
/* -------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, p, a, div {
  font-family:monospace;
  animation: fade-anim .6s ease-in-out;
  line-height: 30px;
}
h1{
  font-size: 35px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bolder;
  line-height: 1em;
}
h2{
  font-size: 23px;
  font-weight:bold;
}
p{
  line-height: 1.6;
  font-size: 13px;
}
a{
  color: #eaffe7;
  text-decoration: none;
  background-color: #696969dc;
  padding: .5rem;
  border-radius: .2rem;
}
button{
  text-decoration: none;
  background-color: transparent;
  color: #eaffe7;
  cursor: pointer;
  font-size: 120%;
  z-index: 999;
  background-color: #444444;
  border-radius: 5rem;
}
button:hover{
  background-color: #444444;
}
/* -------------------------------------------------------------------- */
section{
  margin-top: 0%;
}
div{
  margin: .5 rem;
  /* background-color: #444444; */
  padding: 30px;
  border-radius: 5px;
  padding-top: 1px;
  animation: scale-anim .4s ease-in-out;
}
header{
  background-color: #44444473;
  padding: .5em;
  color: #F8F9FA;
  position: fixed;
  border-radius: .5em;
}
/* -------------------------------------------------------------------- */
#head{
  background-color: #444444;
  padding: .5rem;
  color: #F8F9FA;
  align-content: center;
  margin: -.5rem;
  display: flex;
  justify-content:left;
  flex-wrap: nowrap;
  flex-shrink: 2;
}
#head a{
  margin: .5rem ;
}

#navMenu{
  display: none;
  /* background-color: #665F6C; */
  float: left;
  padding: 10px;
  margin: .1rem;
  width: 15rem;
  height: 30rem;
}
#navMenu  li{
  display:grid;
  /* background-color: #222328; */
  padding: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
}
#navTog {
  cursor: pointer;
  text-decoration: none;
  font-size: 120%;
  z-index: 999;
  background-color: #444444;
  border-radius: 5rem;
}

#home{
  padding: 5rem;
}
#home h1{
  font-weight: 900;
  font-family: monospace;
  letter-spacing: 5px;
}

#about{
  padding-bottom: 3rem;
}

#projects{
  padding-bottom: 3rem;
}
#Pcontent{
  padding: 1em;
}

#social{
  padding-bottom: 3rem;
}
#Scontent{
  padding: 1em;
}

#line{
  background-color: #44444450;
  height: 1px;
  margin: 1em 0;
  padding: 0px;
}

/* -------------------------------------------------------------------- */
.Main p{
  margin-top: -1.5rem;
}
.Main h1{
  font-size: 40px;
}

.project{
  background-color: #93889c5b;
  display: grid;
  margin-top: 1em;
  margin-left: 15%;
  margin-right: 15%;
}
/* -------------------------------------------------------------------- */
@keyframes scale-anim {
  0% {
    transform:scale(0);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }  
}

@keyframes fade-anim{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
